logs
project/project
project/target
target
tmp
.history
dist.idea
.idea_modules
.settings
django-env
*.py[cdo]
*.swp
.idea
.idea/*
venv
django-env
django-env/
node_modules/
dist/
pages/node_modules/
pages/dist/
.astro/
pages/.astro/
