@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');

body, p {
    font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
}

h1 {
    margin-bottom: 20px;
}

.headline {
    margin-top: 60px;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #aaa;
}

/* From http://twitter.github.com/bootstrap/ */
.marketing {
    text-align: center;
    color: #5a5a5a;
}

.marketing h1 {
    margin: 0 0 10px;
    font-size: 60px;
    font-weight: 200;
    line-height: 1;
    letter-spacing: -1px;
}

.marketing h2 {
    font-weight: 200;
    margin-bottom: 5px;
}

.marketing p {
    font-size: 16px;
    line-height: 1.5;
}

.marketing .marketing-byline {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    color: #999;
}

.marketing img {
    display: block;
    margin: 0 auto 30px;
}

.spaced {
    margin-top: 15px;
}