{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Professional" %}{% endblock %}
{% block title %}
    Curriculum Vitae
{% endblock %}
{% block byline %}This is a short introduction. Please download my <a href="/static/files/Siddhu_Warrier_CV.pdf"
                                                                      target="_blank">full
    CV</a> for more.{% endblock %}

{% block main %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="span9">
            <h2>
                Summary
            </h2>

            <div class="cv">
                <div class="row">
                    <div class="span4">
                        <h3>As a developer</h3>

                        <p>
                            I have over five years' experience in industry and research, and hold two postgraduate degrees in
                            Computer Science funded by the European Commission.
                        </p>
                    </div>
                    <div class="span4">
                        <h3>As a consultant</h3>

                        <p>
                            I have over two years' experience solving business problems for customers, leading projects
                            through the entire software development
                            lifecycle.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="span4">
                        <h3>I have experience with</h3>

                        <p>
                            Java, Python, C, and C++ using a host of platforms including Android, Heroku, Google App
                            Engine, and wireless sensor nodes.
                        </p>
                    </div>
                    <div class="span4">
                        <h3>I am passionate about</h3>

                        <p>
                            Agile and Behaviour Driven Development, and developer recruitment and mentoring
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="span3 pull-right">
            <h2>Contact</h2>

            <p></p><a href="http://bit.ly/PMe1e5" target="_blank"><i class="icon-map-marker"></a></i>London, UK</p>
            <p><i class="icon-envelope"></i> siddhu@siddhuw.info</p>


            <a href="/static/files/Siddhu_Warrier_CV.pdf" target="_blank" class="btn btn-primary noPrint"><i
                    class="icon-download icon-white"></i>
                Download Full CV</a>
        </div>

        <div class="span9 spaced">
            <h2>
                Presently
            </h2>
            <div class="cv span9">
                <div class="row">
                    <h3>Software Engineer III at Cisco Systems (since Jan 2013)</h3>

                    <p>
                       I work closely with teams split between the UK, US, and Europe, and my responsibilities include working on the development of distributed solutions for Cisco's cloud-based security products, scrum mastering, recruitment and mentoring.                     
                    </p>
                </div>
            </div>

        </div>

        <div class="span9 spaced">
            <h2>
                Previously
            </h2>

            <div class="cv span9">
                <div class="row">
                    <h3>Senior Software Engineer at Cloudreach Limited (2010 - 2012)</h3>

                    <p>
                        My responsibilities include leading project teams, recruiting, mentoring, and training
                        developers, and driving software engineering process design and adoption.
                    </p>
                </div>
            </div>
            <div class="cv span4">
                <div class="row">
                    <h3>Software Engineer at Sgurr Energy (2009 - 2010)</h3>

                    <p>
                        Developing SgurrTrend, a windfarm operational monitoring software in
                        Java.
                    </p>
                </div>
            </div>
            <div class="cv span4 pull-right">
                <div class="row">
                    <h3>Software Engineer at OHM (2008 - 2009)</h3>

                    <p>
                        Developing software using Python and C for the processing and
                        modelling oil survey data.
                    </p>
                </div>
            </div>
        </div>

        <div class="span9 spaced">
            <h2>
                Education
            </h2>

            <div class="cv span9">
                <div class="row">
                    <h3>M.Sc. Informatics, The University of Edinburgh (2007)</h3>

                    <p>
                        This was part of a double-degree programme funded by the Erasmus Mundus scholarship from the
                        European Commission, and was awarded a degree with Distinction (78%).
                    </p>
                </div>
            </div>

            <div class="cv span9">
                <div class="row">
                    <h3>M.Sc. Media Informatics, RWTH Aachen University (2007)</h3>

                    <p>
                        This was part of a double-degree programme funded by the Erasmus Mundus scholarship from the
                        European Commission, and was awarded a final grade of 1.4 (ECTS: Sehr Gut/Very Good).
                    </p>
                </div>
            </div>
            <div class="cv span9">
                <div class="row">
                    <h3>B.Eng Computer Science and Engineering, Anna University (2005)</h3>

                    <p>
                        I was awarded a First Class degree with Distinction (82%).
                    </p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
